services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672" 
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped
  crm core:
    build: .
    container_name: crm
    restart: always
    env_file: .env
    ports: 
      - "8001:8001"
    environment:
      DATABASE_URL: "postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}"
      PUBLIC_KEY_PATH: /app/keys/public.pem
      PRIVATE_KEY_PATH: /app/keys/private.pem
    depends_on:
      - db
      - redis
    networks:
      - app-network


volumes:
  rabbitmq_data:

